<h1>IoT - How to connect to internet with module wifi ESP8266 and AT command</h1>
<hr></hr>
<h2> Introduce </h2>

<br> Your ESP8266 is an impressive, low cost WiFi module suitable for adding WiFi functionality to an existing microcontroller project via a UART serial connection. The module can even be reprogrammed to act as a standalone WiFi connected device just add
power!</br>
<br> The feature list is impressive and includes:</br>
<br>&#183 802.11 b/g/n protocol</br>
<br>&#183 Wi-Fi Direct (P2P), soft-AP</br>
<br>&#183 Integrated TCP/IP protocol stack</br>
<hr></hr>
<h2> Connecting</h2>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<table >
    <tr>
        <th>
            <h3>Esp8266</h3>
            <img src="http://k1.arduino.vn/img/2016/02/27/0/2121_123450-1456568964-0-esp8266-pinout1.png" alt="ESP8266" style="width:473px;height:275px;"></img>
        </th>
        <th>
            <h3>Anduino/Uart USB<h3>
      <img src="http://thumbs1.ebaystatic.com/d/l225/m/mwvPtmG1bNrfYEySwO-5dpQ.jpg"
      alt="Uart USB" style="width:225px;height:221px;"></img>
    </th>
    <th><h3>Power Supply Stick - 5V/3.3V<h3>
      <img src="https://cdn.sparkfun.com//assets/parts/1/0/0/3/2/13032-01.jpg"
      alt="Power Supply Stick" style="width:250px;height:250px;"></img>
    </th>
  </tr>
  <tr>
    <th>TX</th>
    <th>RX</th>
    <th>None</th>
  </tr>
  <tr>
    <th>RX</th>
    <th>TX</th>
    <th>None</th>
  </tr>
  <tr>
    <th>Vcc</th>
    <th>None</th>
    <th>3.3V</th>
  </tr>
  <tr>
    <th>GND</th>
    <th>GND</th>
    <th>GND</th>
  </tr>
  <tr>
    <th>CH_DP</th>
    <th>None</th>
    <th>3.3V</th>
  </tr>
</table>
<hr></hr>
<h1>Note</h1>
<b><br>&#183; The ESP8266 requires 3.3V power, do not power it with 5 volts!</br>
  <br>&#183; Don't connect your ESP8266 to the 3.3v power source on your Anduino board. The ESP8266 may draw more current than the 3.3V regulator on your Arduino can supply, you
  could damage it</br>
  <br>&#183; The ESP8266 needs to communicate via serial at 3.3V and does not have 5V tolerant inputs, so you need level conversion to communicate with a 5V microcontroller like most Arduinos use.</br>
</b>
<img src="http://cdn.shopify.com/s/files/1/0045/8932/files/LEVEL-pinout_large.jpg?100694"
alt="Logic level converter" ></img>
<hr></hr>
<h1>AT command</h1>
<p>
  <br /><strong>AT+CWMODE=3</strong> &ndash; set the module operating mode to STA+AP.
  <br /><strong>AT+RST</strong> &ndash; reset the module to finish changing the operating mode.
  <br /><strong>AT+CIPMUX=1</strong> &ndash; enable multiple connections.
  <br /><strong>AT+CWLAP</strong> &ndash; check the available access points to connect to.
  <p>You should get a response like:</p>
  <p style="padding-left: 30px;">+CWLAP:(0,"",0)</p>
  <p style="padding-left: 30px;">+CWLAP:(3,"WiFiArtThouRomeo",-80)</p>
  <p style="padding-left: 30px;">+CWLAP:(3,"Free Public WiFi",-51)</p>
  <p style="padding-left: 30px;">+CWLAP:(3,"Guest",-91)</p>
  <p style="padding-left: 30px;">OK</p>
  <br /><strong>AT+CWJAP=&rdquo;ssid&rdquo;,&rdquo;password&rdquo;</strong> to connect to the access point.
  <br /><strong>AT+CIFSR</strong> &ndash; check the module ip and connection status.
  <br /><strong>AT+CIPSTART=4,&rdquo;TCP&rdquo;,&rdquo;www.google.com&rdquo;,80</strong> &ndash; start the connection to google (you may occasionally get DNS fail, just retry the command)
  <br /><strong>AT+CIPSEND=4,42</strong> -send 42 characters
  <br />When you receive &gt; from the module send the following data (replacing \r\n with CR and LF characters):
  <strong>
    <br />GET / HTTP/1.1\r\n <br />Host: www.google.com\r\n\r\n\r\n </strong>
  </p>
</body>
</html>
